body{
    background: #18c09d;
    margin: 0;
}
.container {
    display: flex;
    justify-content: center;
}

.card {

    margin: 50px 10px 10px 10px;
    padding: 0;
    display: block;
    background: #262525;
    width: 250px;
    height: auto;
}

.symbol > h1 {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 10px;
    display: block;
    box-sizing: border-box;
    text-align: center;
    color: #18c09d;
    font-size: 60px;


}

.text > p {

    box-sizing: border-box;
    text-align: center;
    color: #18c09d;
    margin: 0;
    padding: 15px;
    font-family: "Calibri", sans-serif;
}

.image > img {
    box-sizing: border-box;
    display: block;
    margin: 15px auto ;
    height: 100px;
    width: 150px;
    border-radius: 50%;

}

.underimgtxt > h2{
    margin-top: 0;
    padding-top:0 ;
    display: block;
    box-sizing: border-box;
    text-align: center;
    color: #18c09d;
    font-family: "Calibri", sans-serif;

}
 .bottext{
     margin: 0;
    text-align: center;
     font-size: 40px;
     font-family: "Calibri light", sans-serif;

}
.bottext2{
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-family: "Calibri", sans-serif;

}