
.boxBackground{
    background: #c6cdda;
}

.GlobalAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100%;

}

.father{
    width: 100%;
    height: 100%;
}

.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 1px solid black;
}

.SideBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 1000px;
    border: 1px solid black;
}

.box{
    margin: 10px;
    width: 180px;
    height: 50px;
    background: #c6cdda;
}

.align{
    display: flex;
}

.Main{
    width: 100%;
    height: 1000px;
    border: 1px solid black;
}

.block3align{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.block3{
    width: 90%;
    height: 80%;
    background: #c6cdda;
}

.block4align{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}

.box4{
    width: 16%;
    height: 80%;
}


.Align56{
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
}

.block5align{
    width: 80%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    border: 1px solid black;
}

.box5{
    width: 40%;
    height: 80px;
    margin: 10px;

}


.block6align{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.boxes{
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box6uniqalign{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box6,.box6uniq{
    margin: 10px;
    width:70%;
    height: 100px;
}

.Footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 96px;
    border: 1px solid black;
}

.footerbox{
    width: 70%;
    height: 30px;
    margin: 10px;
}

.lilfooterbox{
    width: 20%;
    height: 20px;
}



@media screen and (max-width: 700px){


    .GlobalAlign{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .father{
        width: 70%;
        height: 100%;
    }


    /*body{*/
    /*    background: #b000b0;*/
    /*}*/

    .Align56{
        flex-direction: column;
    }
    .block5align{
        width: 100%;
        height: 65%;
    }

    .box{
        width: 50%;
    }
    .block6align{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40%;
    }

    .boxes{
        width: 100%;
        height: 100%;
    }

.box6{
    width: 40%;
    height: 25%;
}
.box6uniqalign{
    height: 100%;
}
    .box6uniq{
        width: 70%;
        height: 70%;
    }

.displayNone{
    display: none;
}

.SideBlock{
    position: absolute;
    left: 10px;
    top: 8px;
    width: 14.1%;
    height: 40%;
}
}


@media screen and (max-width: 500px){

    .block6align{
        flex-direction: column;
    }

    .box6{
        height: 30px;
    }
}

