body {
    margin: 0;
    background: silver;
    text-align: center;
}

.container {
    /*overflow: hidden;*/
    width: 100%;
    height: 100%;
}

.Header {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
gap: 10px;

}

.Main {

    display: flex;
    width: 100vw;
    height: 760px;

}

.logo {
    background: #772e2e;
    width: 10%;
    height: 100%;

}

.header {
    background: #772e2e;
    width: 90%;
    height: 100%;
}


.nav, .bath, .ad, .types, .related, .store, .tools {
    background: #18c09d;
}

.NST {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    gap: 10px;

}

.nav {
    height: 440px;
    /*width: 100%;*/
}

.store, .tools {
    height: 150px;
    width: 100%;
}


.BATR {
    box-sizing: border-box;
    /*overflow: hidden;*/
    margin-left: 10px;
    width: 90%;
    height: 100%;


}

.bath {
    width: 75%;
    height: 375px;
}

.ad {

    width: 25%;
    height: 375px;
}

.types {

    width: 75%;
    height: 375px;
}

.related {
    width: 25%;
    height: 375px;
}


.ba {
    display: flex;
    width: 100%;
    gap: 10px;

}

.tr {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}


@media screen and (max-width: 780px) {
    body {
        background: #b000b0;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .Header {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .Main {
        height: 2000px;
    }

    .NST {
        justify-content: center;
        align-items: center;
    }

    .BATR {
        margin-top: 20px;
    }
.header{
    width: 600px;
}
.logo{
    width: 80px;
}
    .tr {
        flex-direction: column;
    }

    .bath {
        width: 60%;
    }

    .ad {
        width: 40%;
    }

    .related, .NST, .types {
        width: 100%;
    }

    .nav {

        margin-top: 10px;
        height: 100%;
        width: 90%;
    }

    .Main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .NST {
        width: 100%;
        height: 300px;
        flex-direction: row;
    }

    .nav, .store, .tools, .bath,
    .ad, .types, .related, .logo, .header {
        border-radius: 20px;
    }



    .store {
        position: absolute;
        width: 30%;
        height: 23%;
        left: 30px;
        bottom: -1020px;
    }

    .tools {
        position: absolute;
        width: 30%;
        height: 23%;
        right: 20px;
        bottom: -1020px;
    }
}



