body{

    margin: 0;
    background: silver;
    text-align: center;
}

.container{
    width: 100vw;
    height: 100vh;
}

.Header{
    width: 100%;
    height: 120px;
    display: flex;
    gap: 10px;
}
.Main{
    display: flex;
    width: 100%;
    height: 1500px;

}

.logo{
    background: #772e2e;
    width: 10%;
    height: 100%;

}

.header{
    background: #772e2e;
    width: 90%;
    height: 100%;
}


.nav, .bath, .ad,.types,.related,.store,.tools{
    background: #18c09d;
}

.NST{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100%;
    gap: 10px;

}

.nav{
    height: 80%;
    width: 100%;
}

.store,.tools{
    height: 10%;
    width: 100%;
}


.BATR{
    box-sizing: border-box;
    /*overflow: hidden;*/
    margin-left: 10px;
    width: 90%;
    height: 100%;
    display: flex;
   flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

}

.bath{
    width: 73%;
    height: 25%;
}

.ad{

    width: 26%;
    height: 25%;
}

.types{
    width: 73%;
    height: 75%;
}

.related{
    width: 26%;
    height: 75%;
}


